gunicorn>=20.1.0
uvicorn>=0.17.0
Django>=4.0.0
djangorestframework>=3.13.0
requests>=2.27.1
celery>=5.2.3
redis>=4.1.4
python-dotenv>=0.19.2
numpy>=1.22.0
pandas>=1.4.0
huaweicloudsdkcore>=3.1.0
tqdm>=4.62.3
zstandard>=0.14.0